/* =========================
   MAIN HEADER
========================= */

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 30px 0;
}


/* =========================
   LOGO
========================= */

.logo {
    text-align: center;
}

.logo h1 {
    color: var(--marron-oscuro);

    font-family: var(--font-arapey);
    font-size: 3rem;
    letter-spacing: 4px;
    line-height: 1;
}


/* =========================
   SUB LOGOS
========================= */

.sub-logo-sewing {
    display: block;

    margin-top: -5px;

    color: var(--marron-claro);

    font-family: var(--font-arapey);
    font-size: 1.2rem;
    font-style: italic;
}

.sub-logo-alma {
    display: block;

    margin-top: 5px;

    color: #555;

    font-family: var(--font-aileron);
    font-size: 0.65rem;
    letter-spacing: 3px;
    text-transform: uppercase;
}


/* =========================
   LOGO IMAGE
========================= */

.logo-img {
    display: block;

    width: auto;
    height: 60px;

    margin: 0;

    transition: opacity 0.3s ease;
}

.logo-img:hover {
    opacity: 0.8;
}


/* =========================
   HEADER COMPRA
========================= */

section:not(#inicio) .main-header {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: var(--radius-large) 0;
}

section:not(#inicio) .logo-img {
    display: flex;
    justify-content: center;

    flex-grow: 1;

    width: auto;

    margin: 0;
}