:root {
    --marron-oscuro: #714f38;
    --marron-claro: #A67B5B;
    --beige-fondo: #FDFBF9;
    --beige-acento: #EADBC8;

    --texto: #333;
    --borde-suave: #ddd;

    --font-arapey: 'Arapey', arial;
    --font-aileron: 'Aileron', sans-serif;

    --radius-large: 20px;
    --radius-medium: 12px;
    --radius-small: 8px;
}
