/* =========================
   CARRUSEL WRAPPER
========================= */

.carrusel-wrapper {
    position: relative;

    display: flex;
    align-items: center;
    gap: 10px;

    width: 100%;
}


/* =========================
   CONTENEDOR CARRUSELES
========================= */

#contenedor-telas,
#contenedor-personalizacion {
    display: flex;
    flex-wrap: nowrap !important;
    align-items: stretch;
    justify-content: flex-start;
    gap: 24px;

    width: 100%;
    padding: 25px 10px 35px;

    overflow-x: auto;
    overflow-y: visible;

    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    scrollbar-width: none;
}

#contenedor-telas::-webkit-scrollbar,
#contenedor-personalizacion::-webkit-scrollbar {
    display: none;
}


/* =========================
   BOTÓN CARRUSEL
========================= */

.btn-carrusel {
    width: 45px;
    height: 45px;

    border: 1px solid rgba(160, 129, 108, 0.2);
    border-radius: 50%;

    background: rgba(255, 255, 255, 0.8);
    color: var(--marron-oscuro);

    backdrop-filter: blur(10px);

    font-size: 1.2rem;

    cursor: pointer;

    transition:
        background-color 0.3s ease,
        border-color 0.3s ease,
        color 0.3s ease,
        transform 0.3s ease;
}

.btn-carrusel:hover {
    border-color: var(--marron-oscuro);

    background: var(--marron-oscuro);
    color: white;

    transform: translateY(-2px);
}