.floating-cart {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--marron-oscuro);
  color: white;
  padding: 15px 15px 10px 15px;
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
}

.floating-cart:hover {
    opacity: 0.8;
}

.floating-cart img{
    height: 30px;
}

.cart-window {
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.2);
    border: 1px solid rgba(160, 129, 108, 0.2);
    margin-bottom: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px); /* Desfoca lo que hay detrás */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    position: relative;
    left: -80px;
    top: 15px;

    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1),
                opacity 0.3s ease;
    transform: translateY(100px) scale(0.8);
    opacity: 0;
    pointer-events: none
    
}

.cart-window.activo {
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1),
                opacity 0.3s ease;
    transform: translateY(0) scale(1);
    opacity: 1;
    pointer-events: all;
    pointer-events: auto;
    
}

.cart-items {
    max-height: 300px;
    overflow-y: auto;
    /*padding: 10px;*/
    border-bottom: 1px solid rgba(160, 129, 108, 0.1); /* Línea color café muy suave */
    padding: 15px 10px;
    margin: 0; /* Quitamos márgenes para que la línea cruce de lado a lado */
    border-radius: 0; /* Si prefieres que se vea como una lista continua */
}

.cart-item:first-child { border-top-left-radius: 15px; border-top-right-radius: 15px; }
.cart-item:last-child { border-bottom: none; }

.cart-item {
    background: #fdfaf8; /* Un fondo crema muy suave */
    border-radius: 12px;
    margin-bottom: 8px;
    padding: 10px;
    border: none;
}

.cart-item-content {
    display: flex;
    gap: 10px;
    align-items: center;
}

.cart-footer {
    padding: 15px;
    border-top: 1px solid #eee;
}

.cart-item-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
    flex-shrink: 0;
}

#cart-count {
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 7px;
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
}

.cart-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    pointer-events: none;
}

.cart-header {
    background: var(--marron-oscuro);
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px 20px 0 0; /* Solo arriba */
    padding: 20px;
}