#datos-comprador .paso {
    background: var(--marron-oscuro);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.03);
    margin-top: 30px;
}

#datos-comprador h3 {
    font-family: var(--font-arapey);
    font-size: 1.8rem;
    color: var(--beige-acento);
    margin-bottom: 25px;
    border-bottom: 1px solid var(--beige-acento);
    padding-bottom: 10px;
    letter-spacing: 1px;
}

#boton-enviar-pedido {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 40px auto;
    background-color: var(--marron-oscuro) !important;
    font-family: var(--font-aileron);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 18px !important;
    border-radius: 0 !important; /* Estilo revista, más cuadrado */
    transition: 0.4s !important;
}

#boton-enviar-pedido:hover {
    background-color: var(--marron-claro) !important;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(113, 79, 56, 0.2);
}

.success-card {
    background-color: var(--marron-oscuro);
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.success-card h2 {
    font-family: var(--font-arapey);
    font-size: 2.5rem;
    color: var(--beige-acento);
    margin-bottom: 20px;
}

.codigo-hema {
    background: rgba(255,255,255,0.08);
    border: 1px solid rgba(255,255,255,0.1);
    color: var(--beige-acento);
    padding: 15px;
    border-radius: 10px;
    margin: 25px 0;
    font-size: 1.3rem;
    letter-spacing: 3px;
    font-weight: bold;
}

.success-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

/* Mapa */
#mapa-libre {
    height: 300px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid var(--borde-suave);
    margin-top: 20px;
}
